Package: dev.playday3008.wififixoldios
Name: WiFi Fix Old iOS
Version: 0.1.1
Architecture: iphoneos-arm
Description: Fixes WiFi connectivity to WPA2/WPA3 transitional networks on iOS 9.x–12.x by filtering unsupported AKM suites from RSN IE parsing.
Maintainer: PlayDay
Author: PlayDay
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
